body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
 
  width: 80px;
  background-color: lightgrey;
  color: black;
  text-align: center;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 100;
  left: 100;
  top: 110%;
}

.card {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  margin: 2rem;
  box-shadow: 12px 12px 2px 1px #d0ece1;
  background-size: cover;
}

.card:hover {
  width: 260px;
  height: 310px;
  box-shadow: 14px 14px 4px 2px #d0f2e4;
}

.card-button {
  background-color: transparent;
  border: none;
}
